<p style="color: green"><%= notice %></p>

<h1>All Contacts</h1>

<table id="contacts" class="table table-striped table-bordered">
  <%= render "tableHeader" %>
  <tbody>
    <% @contacts.each do |contact| %>
      <%= render contact %>
    <% end %>
  </tbody>
</table>



<%= link_to "New contact", new_contact_path, class:"btn btn-primary" %>
